/* Alternative way to debug is using this*/

/* * {
  border: 1px solid rgb(153, 0, 255) !important;
}  */

:root{
    font-size:5px;
    margin-top:2px;
}

.topnav{
    position:fixed;
    top:0;
    background-color: rgb(52,58,64);  
    height:55px;
    width: 100%;
    overflow: hidden;
    z-index: 99;
}

.navbar-icon{
    color:white;
    font-size:30px;
    cursor:pointer;
}

.sidenav-collapse {
    width: 200px;
    position: fixed;
    z-index: 1;
    background-color: rgb(70, 78, 85);
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 25px;
    color:white;
    top: 54.5px;
    bottom: 0;
}

.create{
    width:fit-content;
}

.create-button{
    top:30px;
    background-color: #6b05a7;
    width: 145px;
    color:white;
}

.undo-button{
    width:140px;
    background-color: #037e35;
    color:white;
}


@keyframes expand{
    0%{
        height:5px
    }
    100%{
        height:200px
    }
}

.search{
    width:fit-content;
}

.search-button{
    background-color: rgb(9, 173, 146);
    width:140px;
    color:white;
}

.request-button{
    margin-left:30px;
}

.user-list button{
    align-items: right;
}

.friends{
    margin-top: 5rem;
    width:fit-content;
}

.friends-button{
    background-color: rgb(202, 29, 188);
    width:140px;
    color:white;
}


.remove-image{
    width:100%;
    max-width:25px;
    cursor:pointer;
}

.notifications{
    display: flex;
    flex-direction: row;
    width:fit-content;
}

.notifications-button{    
    width:140px;
}

.logout{
    width:fit-content;
}

.logout-button{
    width:140px;
}

.main-content {   
    position:relative;
    top:80px;
    margin-left:200px;
    transition: margin-left .5s;	
    padding: 20px;	
}

.slider-bar{
    position:relative;
    top:54.5px;
    width:100%;
    height:5px;
    overflow-x: hidden;
}
  
.line-bar{
    position:absolute;
    width:100%;
    height:5px;
    background:#5930c9;    
    opacity: 0.6;
}
  
.subline-bar{
    position:absolute;
    background:#5930c9;
    height:5px; 
}

.inc{
  animation: increase 2s infinite;
}
.dec{
  animation: decrease 2s 0.5s infinite;
}
  
@keyframes increase {
   from { left: -5%; width: 5%; }
   to { left: 110%; width: 100%;}
}
@keyframes decrease {
   from { left: -80%; width: 80%; }
   to { left: 100%; width: 10%;}
}

.project-heading{
    text-align:center;
    margin-bottom:2.5rem;
}

.sub-content{
    max-height:500px;
    width:100%;
    position:relative;
    margin-top:20px;	
    transition: margin-left .5s;	
    padding: 20px;
    text-align:left;
    display:flex;
    flex-flow: column;
    overflow-y: scroll;
    border: 1.5px solid black;
    box-shadow: 2px 2px 2.25px 1px black;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(99, 105, 112); 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 97, 105); 
}

@media screen and (max-height: 450px) {
    .sidenav-collapse {padding-top: 15px;}
    .sidenav-collapse a {font-size: 18px;}
}

@media screen and (min-height:900px){
    .sub-content{
        height:600px;
    }   
}

@media screen and (max-width:576px){
    .button-group{
      flex-flow: column nowrap;
      margin-bottom:1rem;
    }
    button{
      margin-top:1rem;
    }
  }

@media screen and (max-width: 750px) {
    #main-content{
        margin-left:5px;
    }
    .sidenav-collapse{        
        opacity:1;
        width: 0px;
    }    
}

.has-danger{
    border: 2px solid red;
}
  
.has-success{
    border: 2px solid green;
}

  


  


  
